@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div>
    <h2>@ViewBag.Title</h2>
    <img src="~/joelhilton.jpg" />
    
    <p>Click <a asp-controller="MovieListings" asp-action="Index">here</a> to see our movies.</p>
</div>
